@import "../../global-styles/mixins";
$module: 'add-contact';

.#{$module} {
    
    form {
        background-color: #ffffff;
        padding: 1em;
        border-radius: 2px;
        @include box-shadow;
        height: 320px;
        max-width: 290px;
    }
}